@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  .sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0);
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 12px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 12px;
}
